body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 50px;
}

.login-submit {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.titulo{
  text-align: center;
  margin-top: -100px;
}

.back-to-home-button {
  position: absolute;
  top: 10px;
  left: 10px; 
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 300px;
}

.back-to-home-button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}